@{
    ViewData["Title"] = "Configuration";
}

@section Tabs {
    <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
        <a href="#db-tab" class="mdl-layout__tab is-active">Database</a>
        <a href="#auth-tab" class="mdl-layout__tab">Authentication</a>
    </div>
}

<section class="mdl-layout__tab-panel mdl-cell--12-col is-active" id="db-tab">
    <div class="page-content">

        @if (ViewData["DbError"] != null)
        {
            <div class="mdl-cell--12-col">
                <div class="getnet-alert getnet-alert-error getnet-alert-closable" id="DbError">
                    <button class="mdl-button mdl-js-button mdl-button--icon getnet-alert-close" onclick="getnet.closeAlert('DbError')">
                        <i class="material-icons">close</i>
                    </button>
                    @(((Exception)ViewData["DbError"]).Message.TruncateWithEllipsis(160))
                </div>
                <div class="mdl-tooltip getnet-tooltip" data-mdl-for="DbError">
                    @(((Exception)ViewData["DbError"]).ToString())
                </div>
            </div>
        }

        <div class="mdl-cell--4-col">

            <h3>Connection String Configuration</h3>
            <div id="thisform-loading" style="display:none" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
            <div id="thisform-results"></div>
            <form action="/init/configure" id="thisform" class="getnet-ajax-form" data-ajax-reset="true">
                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="UseMSSQL">
                    <input type="radio" id="UseMSSQL" class="mdl-radio__button" name="DbChoice" value="UseMSSQL" @((string)ViewData["DbChoice"] == "UseMSSQL" ? "checked" : "")>
                    <span class="mdl-radio__label">Use MS SQL</span>
                </label>

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" name="SqlConfigurationString" id="SqlConfigurationString" value="@ViewData["MSSQLString"]">
                    <label class="mdl-textfield__label" for="sample1">Database Connection</label>
                </div>

                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="UsePostgres">
                    <input type="radio" id="UsePostgres" class="mdl-radio__button" name="DbChoice" value="UsePostgres" @((string)ViewData["DbChoice"] == "UsePostgres" ? "checked" : "")>
                    <span class="mdl-radio__label">Use PostgreSQL</span>
                </label>

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" name="PostgresConfigurationString" id="PostgresConfigurationString" value="@ViewData["PostgresString"]">
                    <label class="mdl-textfield__label" for="sample1">Database Connection</label>
                </div>
                
                <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                    Save
                </button>
            </form>
        </div>


        @if (!(bool)ViewData["DbExists"])
        {
            <div class="mdl-cell--6-col">
                <h3>Database Creation</h3>
                <form action="/init/createdb" method="post">
                    <div class="getnet-alert getnet-alert-warning">
                        <p>The GetNet database may not currently exist.  There may just be a connection issue or if the database may need to be created.  You can create the database here if GetNet has the proper credentials to do so either in the SQL connection string or through integrated security via GetNet's web service account.  If the database already exists no further action will be taken.  Be sure not to use the master db in your connection string otherwise GetNet will end up creating all the SQL objects there.</p>
                    </div>
                    <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                        Ensure DB Exists
                    </button>
                </form>
            </div>
        }

    </div>
</section>

<section class="mdl-layout__tab-panel" id="auth-tab">
    <div class="page-content">

    </div>
</section>

@section scripts{
    <script>
        getnet.Forms.init({});
    </script>
}