@model Site
@{
    ViewData["Title"] = string.Format("{0} - ({1})", Model.Name, Model.Status.ToString().CamelToSpace());
    ViewData["Dependencies"] = Dependencies.GetnetMainWIthFormsAndTables;
    ViewData["SiteStatus"] = Model.Status;
}

@section Tabs {
    <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
        <a href="#site-tab" class="mdl-layout__tab is-active">Site</a>
        <a id="networkdevices" href="#dev-tab" class="mdl-layout__tab">Network Devices</a>
        <a href="#vlans-tab" class="mdl-layout__tab">Vlans</a>
        <a id="endpoints" href="#end-tab" class="mdl-layout__tab">Endpoints</a>
        <a href="#dhcp-tab" class="mdl-layout__tab">DHCP</a>
        <a href="#sas-tab" class="mdl-layout__tab">Sites and Subjets</a>
        <a id="digs" href="#dig-tab" class="mdl-layout__tab">Diagram</a>
        <a href="#events-tab" class="mdl-layout__tab">Events</a>
    </div>
}

<section class="mdl-layout__tab-panel mdl-cell--12-col is-active" id="site-tab">
    <div class="page-content mdl-grid">
 

            <div class="mdl-shadow--2dp mdl-color--white getnet-cell mdl-cell mdl-cell--4-col">
                <div class="getnet-col-right">
                    <h4>
                        @if (Current.User.IsAdmin)
                        {
                            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="siteset">
                                <i class="material-icons">more_vert</i>
                            </button>
                            <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-left" for="siteset">
                                <li class="mdl-menu__item" onclick="getnet.get('/site/rediscover/@Model.SiteId');getnet.refresh.run('Snacks')">Rediscover</li>
                                <li class="mdl-menu__item" onclick="window.location.href = '/site/edit/@Model.SiteId'">Edit</li>
                                <li class="mdl-menu__item" id="show-dialog">Delete</li>
                            </ul>
                        }
                        else
                        {
                            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-button--disabled" id="siteset">
                                <i class="material-icons">more_vert</i>
                            </button>
                        }
                    </h4>
                    <p>@Model.Priority.ToString()</p>
                    <p>@(Model.Owner ?? "?")</p>
                    <p>@(Model.Location?.Name ?? "?")</p>
                    <p>@(Model.Building ?? "?")</p>                    
                </div>
                <div class="getnet-col-left">
                    <h4>@Model.Name.ReverseTruncateWithEllipsis(10)</h4>
                    <p><b>Priority</b></p>
                    <p><b>Owner</b></p>
                    <p><b>Location</b></p>
                    <p><b>Building</b></p>
                    @Html.Raw(Model.Details.HasValue() ? "<p><b>Details</b></p>" : "")
                </div>
                <p>@Model.Details</p>

                <br />
            </div>

        <div class="mdl-shadow--2dp mdl-color--white getnet-cell mdl-cell mdl-cell--8-col">
            <h4>Controlled Subnets</h4>
            <table id="subnets" class="mdl-data-table" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric">Type</th>
                        <th class="mdl-data-table__cell--non-numeric">Network</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var subnet in Model.Subnets.OrderBy(d => d.Type))
                    {
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric">@subnet.Type</td>
                            <td class="mdl-data-table__cell--non-numeric" title="@System.Net.IPNetwork.Print(subnet.IPNetwork)">@subnet.IPNetwork.Network.ToString()/@subnet.IPNetwork.Cidr.ToString()</td>
                        </tr>
                    }
                </tbody>

            </table>
        </div> 


        <div class="mdl-card mdl-shadow--2dp getnet-cell mdl-cell mdl-cell--12-col mdl-grid">
            <h4 class="getnet-cell mdl-cell mdl-cell--12-col">Hotpaths</h4><br />
            @foreach (var hotpath in Model.HotPaths)
            {
                <div class="mdl-card mdl-shadow--2dp getnet-cell mdl-cell mdl-cell--4-col">
                    <div class="mdl-card__title mdl-color-text--white @(hotpath.Status == HotPathStatus.Online ? "mdl-color--green" : hotpath.Status == HotPathStatus.Offline ? "mdl-color--red" : "mdl-color--black")">
                        <h2 class="mdl-card__title-text">@hotpath.Name</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <div class="getnet-col-right">
                            <p>@hotpath.Status</p>
                            <p>@hotpath.Type</p>
                            <p>@hotpath.Interface</p>
                            <p>@hotpath.MonitorDeviceHostname.ReverseTruncateWithEllipsis(11)</p>
                            <p>@hotpath.MonitorIP.ToString()</p>
                        </div>
                        <div class="getnet-col-left">
                            <p><b>Status</b></p>
                            <p><b>Type</b></p>
                            <p><b>Interface</b></p>
                            <p><b>Monitor Hostname</b></p>
                            <p><b>Monitor IP</b></p>
                        </div>
                    </div>
                </div>
            }
        </div>



        </div>
</section>

<section class="mdl-layout__tab-panel mdl-cell--12-col" id="dev-tab">
    <div class="page-content mdl-grid">
        <div class="mdl-shadow--2dp mdl-color--white getnet-cell mdl-cell mdl-cell--12-col" id="net-devices">
        </div>
    </div>
</section>

<section class="mdl-layout__tab-panel mdl-cell--12-col" id="vlans-tab">
    <div class="page-content mdl-grid">
        <div class="mdl-shadow--2dp mdl-color--white getnet-cell mdl-cell mdl-cell--12-col">
            <table id="vlans" class="mdl-data-table" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Router</th>
                        <th>Vlan</th>
                        <th>Network</th>
                        <th>First</th>
                        <th>Last</th>
                        <th>Used</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var vlan in Model.Vlans.OrderBy(d => d.VlanNumber))
                    {
                        <tr>
                            <td>@vlan.NetworkDevice?.Hostname.ReverseTruncateWithEllipsis(11)</td>
                            <td>@vlan.VlanNumber</td>
                            <td><a title="Detailed Vlan Usage" href="/vlan/vlanusage/@vlan.VlanId">@vlan.VlanIP/@vlan.IPNetwork.Cidr</a></td>
                            <td>@vlan.IPNetwork.FirstUsable.ToString()</td>
                            <td>@vlan.IPNetwork.LastUsable.ToString()</td>
                            <td>@(((double)vlan.Devices.Count / (double)vlan.IPNetwork.Usable).ToString("P0")) (@vlan.Devices.Count/@vlan.IPNetwork.Usable)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>

<section class="mdl-layout__tab-panel mdl-cell--12-col" id="end-tab">

</section>

<section class="mdl-layout__tab-panel mdl-cell--12-col" id="dhcp-tab">
    <div class="page-content mdl-grid">
    </div>
</section>

<section class="mdl-layout__tab-panel mdl-cell--12-col" id="sas-tab">
    <div class="page-content mdl-grid">
    </div>
</section>

<section class="mdl-layout__tab-panel mdl-cell--12-col" id="dig-tab">
    <div class="page-content mdl-grid">
        <div class="mdl-shadow--2dp mdl-color--white getnet-cell mdl-cell mdl-cell--12-col">
            <h3>Network Diagram</h3>
            <div class="mdl-typography--text-center" id="viz-graph">

            </div>
        </div>
    </div>
</section>

<section class="mdl-layout__tab-panel mdl-cell--12-col" id="events-tab">
    <div class="page-content mdl-grid">
    </div>
</section>

@section dialog {
    <dialog class="mdl-dialog">
        <h5 class="mdl-dialog__title">Delete this site?</h5>
        <div class="mdl-dialog__content">
            <p>
                Deleting this site will remove all sub entities such as network devices and subnets.  The site can be rediscovered if needed.
            </p>
            <form action="/site/delete/@Model.SiteId" id="thisform" method="post">
                <input type="hidden" id="dialog-ip" name="siteid" value="@Model.SiteId" />
                <div class="mdl-dialog__actions">
                    <button mdl-submit-button="Delete"></button>
                    <button type="button" class="mdl-button close">Cancel</button>
                </div>
            </form>
        </div>
    </dialog>
}

@section scripts {
    <script>
        $(document).ready(function () {
            $('#vlans').DataTable({
                columnDefs: [
                    {
                        targets: '_all',
                        className: 'mdl-data-table__cell--non-numeric'
                    }
                ]
            });

            $("#endpoints").one('click', function () {
                $("#fullpage-loading").show();
                $("#end-tab").load('/endpoint/siteendpoints/@Model.SiteId', function () {
                    $("#fullpage-loading").hide();
                    
                });
            });

            $("#networkdevices").one('click', function () {
                $("#fullpage-loading").show();
                $("#net-devices").load('/networkdevice/sitenetworkdevices/@Model.SiteId', function () {
                    $("#fullpage-loading").hide();

                });
            });

            $("#digs").one('click', function () {
                $("#fullpage-loading").show();
                $("#viz-graph").load('/diagram/viz/@Model.SiteId', function () {
                    $("#fullpage-loading").hide();
                });
            });

            var dialog = document.querySelector('dialog');
            if (!dialog.showModal) {
                dialogPolyfill.registerDialog(dialog);
            }
            $("#show-dialog").on('click', function () {
                dialog.showModal();
            });
            dialog.querySelector('.close').addEventListener('click', function () {
                dialog.close();
            });
        });
    </script>
}